<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
	<script type="text/javascript">
		$(document).ready(function(){

			$( "#form" ).submit(function(event) {
				event.preventDefault();

				$.ajax({
					type: 'POST',
					url: '/',
					data: $('#form').serialize(),
					dataType: "json",
					success: function(response){
						//alert("a");
						//console.log(response.Success);
						$('#form')[0].reset();

						document.getElementById("check").innerHTML=response.Success;
         					//ADD THIS CODE
         					setTimeout(function(){
         						document.getElementById("check").innerHTML="";
         					},3000);
         					if (response.Success=="Success!") {
         						document.getElementById("aa").click();
         					};
         				},
         				error: function() {
         				}
         			})
			});

		});
	</script>
</head>
<body>
	<main style="display: flex; flex-direction: column; min-height: 100vh; justify-content: center; align-items: center;">
		<div class="col-md-4 col-md-offset-4 text-center">
			<h1>Login</h1>
			<div class="form-group">
				<form id="form" method="post" >
					<input type="text" name="email" placeholder="E-mail" required="" class="form-control"><br/>
					<input type="password" name="password" placeholder="Password" required="" class="form-control"><br/>
					<input type="submit" value="Login" class="btn btn-success">
				</form>
			</div>
			<div class="bg-danger">
				<span id="check"></span>
			</div>
			<div id="LangTable"><a href="/home" id="aa"></a>
			</div>
			<div><span>Forgot your password?</span><a href="/forgetpass">Click here</a>
			<div><span>Create a new Account?</span>
				<br>
			<a href="/register">Register Client Account</a>
			<br>
			<a href="#">Register Nurse Account</a>
			</div>
		</div>
	</main>
</body>
</html>